@keyframes wave-front {
  100% {
    transform: translateX(-50%);
  }
}

@keyframes wave-back {
  100% {
    transform: translateX(50%);
  }
}

.counter-progress {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.water {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #FEB006;
  transform: translate(0, 50%);
  transition: all 0.75s;
}

.water__inner {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: all 0.75s;
}

.water__wave {
  width: 200%;
  position: absolute;
  bottom: 100%;
  will-change: transform;
}

.water__wave_back {
  right: 0;
  fill: #CC8D04;
  animation: wave-back 3s infinite linear;
}

.water__wave_front {
  left: 0;
  fill: #FEB006;
  margin-bottom: -1px;
  animation: wave-front 1.5s infinite linear;
}