.counter-info {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.counter-info.happy-hour .description {
  display: none;
}

.counter-info.happy-hour .logo-image {
  margin-bottom: 50px;
}

.counter-info.happy-hour .logo-title {
  font-size: 82px;
  border-top: solid 10px #dfac47;
  border-bottom: solid 10px #dfac47;
}

.counter-info .logo-container {
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 50px;
  align-items: center;
}

.counter-info .logo-image {
  max-width: 360px;
  margin-bottom: 20px;
}

.counter-info .logo-title {
  letter-spacing: 4px;
  color: #DFAC47;
  text-transform: uppercase;
  margin: 0;
  font-size: 32px;
  display: inline-block;
  border-top: solid 5px #dfac47;
  border-bottom: solid 5px #dfac47;
  transform: skew(0, -5deg);
  align-self: center;
  mix-blend-mode: difference;
}

.counter-info .description {
  font-size: 36px;
  letter-spacing: 2px;
  max-width: 660px;
  line-height: 1.5em;
  margin: 0;
}

.counter-info .hashtag {
  font-weight: 700;
  color: #DFAC47;
  display: block;
  mix-blend-mode: difference;
}

.countdown {
  margin-top: 50px;
  font-size: 4em;
  font-family: 'AmsiPro-Bold', Helvetica, sans-serif;
}
.social-logos {
  margin-top: 50px;
}
.social-logos.happy-hour {
  display: none;
}